$films: #da2f49;     // rusty red
$people: #fde74c;    // minion yellow
$planets: #32de8a;   // emerald
$species: #fc7753;   // outrageous orange
$starships: #007ea7; // celadon blue
$vehicles: #403d58;  // independence