@import 'src/utils/variables';

.MuiContainer-root.resource-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .resource-card-block {
    &.Mui-expanded {
      height: 100%;
    }
    >.MuiAccordion-root {
      display: flex;
      flex-direction: column;
      &.Mui-expanded {
        height: 100%;
      }
      border: 4px solid $people;
      background-color: $people;
  
      .MuiCollapse-root {
        flex-grow: 1;

        background-color: white;
        border-radius: 4px;
      }
    }
  }
}